*{
    margin: 0;
    padding: 0;
}

/* Cabecera (Header) */
header{
    background-color: red;
}
img{
    width: 100px;
    height: 110px;
}

h1{
    margin: 0 auto;
}

nav a{ 
    color: #fff;
}

nav a{
    text-decoration: none;
}
nav a:hover{
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 2px;
}

