*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2? family= Gideon+Roman & display=swap');




/* Cabecera (Header) */
header{
    background-color: red;
}
img{
    width: 100px;
    height: 110px;
}

h1{
    margin: 0 auto;
}

nav a{ 
    color: #fff;
}

nav a{
    text-decoration: none;
}
nav a:hover{
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 2px;
}


/* Section */

section h2{
    text-align: center;
    font-family: 'Gideon Roman', cursive;
}

.image{
    margin-left: 100px;
    margin-top: 10px;
}

.card-text{
    font-size: 15px;
}

.card-body{
    margin-left: 10px;
}

.card-body1{
    margin-right: 10px;
}